<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="NServiceBus" version="6.0.0-unstable1729" targetFramework="net461" />
  <package id="NServiceBus.RavenDB" version="4.0.0-unstable0102" targetFramework="net461" />
  <package id="Radical" version="1.5.3" targetFramework="net45" />
  <package id="RavenDB.Client" version="3.0.30037" targetFramework="net45" />
  <package id="RavenDB.Database" version="3.0.30037" targetFramework="net45" />
  <package id="RavenDB.Embedded" version="3.0.30037" targetFramework="net45" />
  <package id="ServiceControl.Plugin.Nsb6.Heartbeat" version="1.0.0-beta0001" targetFramework="net461" />
</packages>